* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Manrope', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1508778552286-12d4c6007799');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 2.4rem;
  text-align: center;
  height: 10rem;
  color: white;
}

p {
  font-size: 2.4rem;
  font-weight: 600;
  color: white;
}

input {
  font-size: 2rem;
  padding: 1.2rem;
  box-shadow: inset 2px 2px 5px 5px grey;
  border-radius: 20px;
  border: none;
}

button {
  padding: 1.2rem;
  font-size: 2rem;
  cursor: pointer;
  background-color: brown;
  border: 1px solid black;
  color: white;
  border-radius: 10px;
}

img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 10px 5px 10px 1px rgb(8, 8, 8);
  object-fit: cover;
  height: 100%;
  transform: translateY(-10px);
}

footer {
  background-color: rgb(17, 6, 6);
  height: 10vh;
  border-top: 2px solid rgb(17, 53, 17);
  display: flex;
  align-items: center;
  justify-content: center;
}

a:link,
a:visited {
  text-decoration: none;
  font-size: 2.4rem;
  color: white;
  transition: all 0.3s ease;
}

a:hover {
  color: rgb(148, 148, 150);
}

a:active {
  color: rgb(63, 63, 63);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  flex-grow: 1;
}

.movie-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10.4rem;
  gap: 20px;
}
.movie-header-box {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: start;
}

.movie-header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  gap: 50px;
  justify-content: center;
  align-content: center;
  margin: 0 1.2rem 20.4rem 1.2rem;
  min-height: 100vh;
}

.movie-item {
  margin-top: 10.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  background-color: rgba(39, 12, 12, 0.445);
  border-radius: 150px;
  padding-bottom: 1.2rem;
}

.movie-item:hover {
  transform: scale(1.1);
}

.pagination {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}

#page-info {
  font-size: 2.4rem;
  color: white;
}
